<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto" rel="stylesheet">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    <!-- -->
  </head>

  <body>
    <div class="content" >
        <div class="side-nav">
          <a href="{{site.baseurl}}/">
            <div class="blog-header">
              <h1>HTML.</h1><h1>CSS.</h1><h1>JS.</h1><h1>No BS.</h1>
            </div>
          </a>
        </div>


    <div class="main-content">
      {{ content }}
    </div>
  </div>
    {% include analytics.html %}
  </body>
</html>
